<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>약관</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script>
        document.addEventListener('DOMContentLoaded', function (){
           const btnNext = document.querySelector('.btnNext');

            btnNext.addEventListener('click', function (e){
               const termsChecked = document.querySelector('input.terms').checked;
               const privateChecked = document.querySelector('input.privacy').checked;

               if (!termsChecked || !privateChecked){
                   event.preventDefault();//링크 이동 방지코드
                   alert('약관 및 개인정보 처리방침에 모두 동의해야 다음으로 이동할 수 있습니다.');
               }
            });
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="/user/_header.html"/>
        <main id="user">
            <section class="terms">
                <h2 class="tit">사이트 이용약관</h2>
                <table border="1">                    
                    <tr>
                        <td>
                            <textarea name="terms">[[${termsDTO.terms}]]</textarea>
                            <label><input type="checkbox" class="terms">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>

                <h2 class="tit">개인정보 취급방침</h2>
                <table border="1">                    
                    <tr>
                        <td>
                            <textarea name="privacy">[[${termsDTO.privacy}]]</textarea>
                            <label><input type="checkbox" class="privacy">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>
                
                <div>
                    <a th:href="@{/user/login}" class="btn btnCancel">취소</a>
                    <a th:href="@{/user/register}" class="btn btnNext">다음</a>
                </div>

            </section>
        </main>
        <th:block th:include="/user/_footer.html"/>
    </div>    
</body>
</html>